{% extends "base.html.twig" %}

{% block content %}
	<h1 align="center">{{ 'salary-j.pages.operations' | trans( {},'SalaryJ' ) }}</h1>
	<h2 align="center">{{ 'salary-j.pages.model' | trans( {},'SalaryJ' ) }}: {{ model.number }} - {{ model.name }}</h2>

	{{ form_start( operationForm, { 'action': path('app_model_operations_save_operation', {'modelId': model.id}), 'method': 'POST' } ) }}
		{{ form_widget( operationForm.price, {'value' : 1} ) }} {# Fake Value #}
        
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td colspan="4"><h3><b>{{ 'salary-j.form.operations.add_new_operation' | trans( {},'SalaryJ' ) }}</h3></b></td>
			</tr>
			<tr>
				<td>{{ form_label( operationForm.operation.operationId ) }}</td>
				<td>{{ form_label( operationForm.operation.operationName ) }}</td>
				<td>{{ form_label( operationForm.operation.minutes ) }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>{{ form_widget( operationForm.operation.operationId, {'attr': {'size': '6'}} ) }}</td>
				<td>{{ form_widget( operationForm.operation.operationName, {'attr': {'size': '60'}} ) }}</td>
				<td>{{ form_widget( operationForm.operation.minutes, {'attr': {'size': '6'}} ) }}</td>
				<!-- <td><input type="text" size="6" name="price" /></td> -->

				<td>{{ form_widget( operationForm.btnSave ) }}</td>
			</tr>
		</table>
	{{ form_end(operationForm, {'render_rest': false}) }}
	<br /><br />
	
	<input type="button" value="{{ 'salary-j.pages.worked_operations' | trans( {},'SalaryJ' ) }}"
		{# onclick="document.location='{$smarty.server.PHP_SELF}?modid={$smarty.get.modid}&mode=work_count'" #}
		id="btnWorked"
        data-url="{{ path( 'app_model_work_count', {'modelId': model.id} ) }}"
	/>
	<input type="button" value="{{ 'salary-j.pages.worked_operations_new' | trans( {},'SalaryJ' ) }}"
		{# onclick="document.location='model_work.php?modid={$smarty.get.modid}&mode=work_count'" #}
		id="btnWorkedNew"
		data-url="{{ path( 'app_model_work_count_new', {'modelId': model.id} ) }}"
	/>
	<br /><br />

	<table cellspacing="0" width="100%">
		<tr>
			<td class="DialogTitle">{{ 'salary-j.pages.operations' | trans( {},'SalaryJ' ) }}</td>
		</tr>
		<tr>
			<td class="DialogBorder">
	
				<table cellspacing="1" class="DialogBox">
					<tr>
						<td class="DialogBox" valign="top"><br />
						    {{ form_start( index_form, { attr: { id: 'operations_index_form'} } ) }}
								{{ form_widget( index_form.model_id, {'value' : model.id} ) }}

								<div style="line-height: 170%;">
									<a id="checkAll" href="javascript:void(0);">{{ 'salary-j.pages.all' | trans( {},'SalaryJ' ) }}</a> / 
									<a id="uncheckAll" href="javascript:void(0);">{{ 'salary-j.pages.nothing' | trans( {},'SalaryJ' ) }}</a>
								</div>

								<table cellpadding="2" cellspacing="1" width="70%">
									<tr class="TableHead">
										<td></td>
										<td width="5%">{{ 'salary-j.form.number' | trans( {},'SalaryJ' ) }}</td>
										<td >{{ 'salary-j.form.name' | trans( {},'SalaryJ' ) }}</td>
										<td width="5%">{{ 'salary-j.form.operations.minutes' | trans( {},'SalaryJ' ) }}</td>
										<td width="5%">{{ 'salary-j.form.operations.minutes' | trans( {},'SalaryJ' ) }} + {{ settings.minuteBonus.value }}%</td>
										<td width="5%">{{ 'salary-j.form.operations.minutes' | trans( {},'SalaryJ' ) }} * {{ settings.minuteRate.value }} лв.</td>
										<!-- 
										<td width="5%">Цена (старо)</td>
										 -->
									</tr>

                                {% for opId, opWidget in index_form.operations %}
									<tr {{ cycle(['', 'class="TableSubHead"'], loop.index0) }}>
										<td><input type="checkbox" name="opids[{{ opId }}]" /></td>
										<td >
											{{ form_widget( opWidget.operationId, {'attr': {'size': '4'}} ) }}
										</td>
										<td>
											<font class="ItemsList">
												{{ form_widget( opWidget.operationName, {'attr': {'size': '60'}} ) }}
											</font>
										</td>
										
										<td>
										    {{ form_widget( opWidget.minutes, {'attr': {'size': '6', 'data-currentValue': '', 'data-operationId': ''}} ) }}
										</td>
										
										<td id="bonus{{ opId }}">
										    {{ ( operations[opId].minutes * ( 1 + ( settings.minuteBonus.value / 100 ) ) ) | number_format( 2 ) }}
										</td>
										<td id="price{{ opId }}">
										    {{ ( operations[opId].minutes * ( 1 + ( settings.minuteBonus.value / 100 ) ) * settings.minuteRate.value ) | number_format( 4 ) }}
										</td>
										
										<!-- 
										<td><input type="text" name="posted_data[{$op->id()}][price]" value="{$op->price()}" size="6"/></td>
										 -->
									</tr>
								{% endfor %}
									<tr>
										<td colspan="6"><hr /></td>
									</tr>

									<tr>
										<td colspan="3" align="right">{{ 'salary-j.pages.total' | trans( {},'SalaryJ' ) }}:</td>
										<td id="totalMinutes">{{ totals.totalMinutes }}</td>
										<td id="totalBonus">{{ ( totals.totalMinutes * ( 1 + ( settings.minuteBonus.value / 100 ) ) ) | number_format( 2 ) }}</td>
										<td id="totalPrice">{{ ( totals.totalMinutes * ( 1 + ( settings.minuteBonus.value / 100 ) ) * settings.minuteRate.value ) | number_format( 4 ) }}</td>
										<!-- 
										<td id="totalPrice">{$modelPrice}</td>
										 -->
									</tr>

									<tr>
										<td colspan="7"><hr /></td>
									</tr>
									<tr>
										<td colspan="7">
										    {{ form_widget( index_form.change_names ) }}
										    {{ form_widget( index_form.change_prices ) }}
                                            {{ form_widget( index_form.del_operations ) }}
										</td>
									</tr>
								</table>
							{{ form_end( index_form ) }}
							<br />&nbsp;
						</td>
					</tr>
					<tr>
						<td>
						    {% if resources.haveToPaginate() %}{{ pagerfanta( resources, null, { 'proximity': 10 } ) }}{% endif %}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags( 'js/pages/operations', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}
        
{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operations', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}
