{% extends "base.html.twig" %}

{% block content %}
	<div id="operator_id" style="visibility:hidden; display:none;">{{ operator.id }}</div>

	<h1 align="center">{{ 'salary-j.pages.worked_operations_by' | trans( {},'SalaryJ' ) }}: {{ operator.name }}</h1>
	<div class="date-range-picker-container">
		<div class="date-range-picker-subcontainer">
    		<span class="date-range-picker-label">{{ 'salary-j.pages.period_for' | trans( {},'SalaryJ' ) }}</span>
    		<div id="operators_work_period" 
    			class="date-range-picker-widget lang_{{ app.request.locale|slice(0, 2) }}"
    			data-url="{{ path( 'app_operators_work_browse_operations', {'operatorId': operator.id} ) }}"
    			data-workStartDate="{{ dateRange['startDate'] | date( 'Y-m-d' ) }}"
    			data-workEndDate="{{ dateRange['endDate'] | date( 'Y-m-d' ) }}"
    		>
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
	</div>
	<div style="clear: both;"></div>
	<form action="{{ path( 'app_operators_work_browse_operations_grouped', {'operatorId': operator.id} ) }}" method="post">
		<input type="hidden" name="startDate" id="fromVsdeDate" value="{{ dateRange['startDate'] | date( 'Y-m-d' ) }}" />
		<input type="hidden" name="endDate" id="toVsdeDate" value="{{ dateRange['endDate'] | date( 'Y-m-d' ) }}" />

		<input type="submit" name="submit" value="{{ 'salary-j.pages.grouped' | trans( {},'SalaryJ' ) }}" />
	</form>
	<br /><br /><br />

	<table cellspacing="0" width="100%">
		<tr>
			<td class="DialogTitle">{{ 'salary-j.pages.operations' | trans( {},'SalaryJ' ) }}</td>
		</tr>
		<tr>
			<td class="DialogBorder" id="OperationsContainer">
				{% include 'pages/OperatorsWork/Partial/operations.html.twig' %}
			</td>
		</tr>
	</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags( 'js/pages/operators_work', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}
        
{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operators_work', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}
