{% extends "salary-j/base.html.twig" %}

{% block content %}
	<h1 align="center">Потребители</h1>
	<br /><br /><br />

    {{ form_start(form, { 'action': path('salaryj_settings_update'), 'method': 'POST' }) }}
    	{{ form_widget( form._token ) }}

        	<table cellspacing="0" width="100%">
        		<tr>
        			<td class="DialogTitle">Users</td>
        		</tr>
        		<tr>
        			<td class="DialogBorder">
        				<table cellspacing="1" class="DialogBox">
        					<tr>
        						<td class="DialogBox" valign="top"><br />
        							<script src="{$wwwDir}js/change_all_checkboxes.js" language="JavaScript" type="text/javascript"></script>
									<div style="line-height: 170%;">
									    <a href="javascript:void(0);" id="checkAll">{{ 'salary-j.pages.all' | trans( {},'SalaryJ' ) }}</a> / 
                                        <a href="javascript:void(0);" id="uncheckAll">{{ 'salary-j.pages.nothing' | trans( {},'SalaryJ' ) }}</a>
									</div>
									
									<form action="process_user.php" method="post" name="processuserform">
										<input type="hidden" name="_formid" value="8606400bbcddbcf4c29514b2256bdb39" />
										<input type="hidden" name="mode" value="" />
										<input type="hidden" name="pagestr" value="" />
										<table cellpadding="2" cellspacing="1" width="100%">
    										<tr class="TableHead">
    											<td>&nbsp;</td>
    											<td><a href="users.php?mode=search&amp;sort=username">Username</a></td>
    											<td>
    											     <a href="users.php?mode=search&amp;sort=name">Name</a> / 
    											     <a href="users.php?mode=search&amp;sort=email">E-mail</a>
    											</td>
												<td><a href="users.php?mode=search&amp;sort=usertype">Usertype</a></td>
												<td>
												    <img src="/demo/skin7/images/r_bottom.gif" width="7" height="6" alt="" />
												        &nbsp;<a href="users.php?mode=search&amp;sort=last_login">Last logged in</a>
												</td>
											</tr>
												    
										{% for user in users %}
											<tr {cycle values=",class='TableSubHead'"}>
												<td width="5">
													<input type="checkbox" name="user[{{ user.id }}]" {% if app.user.id == user.id %}disabled="disabled"{% endif %} />
												</td>
												<td>
													<a href="{$smarty.server.PHP_SELF}?mode=edit&id={$user->id()}" title="Modify profile">{{ user.username }}</a>
												</td>
												<td>
													<a href="{$smarty.server.PHP_SELF}?mode=edit&id={$user->id()}" title="Modify profile">
													    <font class="ItemsList">{{ user.info.fullName }}</font> / {{ user.email }}
													</a>
												</td>
												<td>
										{#
											{if $authLevel>8}
													<span title="No membership">Level {$user->level()}</span> 
											{/if}
									    #}
											         {{ user.roles | join(' , ')  }}
												</td>
												<td nowrap="nowrap">{{ user.lastLogin }}</td>
											</tr>
										{% endfor %}

											<tr>
												<td colspan="5" class="SubmitBox">
													<input type="button" value="Add New User" onclick="document.location='{$smarty.server.PHP_SELF}?mode=edit&id=0';" />&nbsp;&nbsp;&nbsp;
													<input type="button" value="Delete selected" onclick="javascript: if (checkMarks(this.form, new RegExp('^user\\[.+\\]', 'gi'))) submitForm(this, 'delete');" />
													
												</td>
											</tr>
											<tr>
												<td colspan="5"><br />
													<br />
													<table cellpadding="5">
														<tr>
															<td><font class="FormButton">Change of password on next log in should be 
																
																required</font></td>
															<td><input type="checkbox" name="op_change_password" /></td>
														</tr>
														<tr>
															<td><font class="FormButton">Suspend/enable login for 
																
																accounts</font></td>
															<td><select name="op_change_status">
																	<option value="">do not change</option>
																	<option value="N" class="UsersActionDisable">suspend</option>
																	<option value="Y" class="UsersActionEnable">enable</option>
																</select>
															</td>
														</tr>
													</table></td>
											</tr>
											<tr>
												<td colspan="5"><br />
													<input type="button" value="Apply" onclick="javascript:submitForm(this, 'group_operation');" />
												</td>
											</tr>
										</table>
									</form>
									<br />
									&nbsp; </td>
							</tr>
						</table></td>
				</tr>
			</table>
    {{ form_end(form, {'render_rest': false}) }}
	<br /><br /><br />
{% endblock %}

{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/users' ) }}
{% endblock %}
