{% extends "base-print.html.twig" %}

{% block content %}
	<!-- BEGIN Operator Work Print -->
    <div class="print">
    	<h1 align="center">{{ operator.name }}</h1>
    	<p align="center">
    		{{ 'salary-j.print.period' | trans( {},'SalaryJ' ) }}: 
    		{{ dateRange['startDate'] | date( 'd.m.Y' ) }}   -  {{ dateRange['endDate'] | date( 'd.m.Y' ) }}
    	</p>
    	
		<div class="ms-3 me-3">
    		<table cellpadding="2" cellspacing="1" width="100%" class="table">
    			<thead class="table-dark">
        			<tr class="TableHead">
        				<th>{{ 'salary-j.print.model' | trans( {},'SalaryJ' ) }}</th>
        				<th>{{ 'salary-j.print.operation' | trans( {},'SalaryJ' ) }}</th>
        				<th style="white-space: nowrap;">{{ 'salary-j.print.unit_price' | trans( {},'SalaryJ' ) }}</th>
        				<th width="5%">{{ 'salary-j.print.count' | trans( {},'SalaryJ' ) }}</th>
        				<th width="5%">{{ 'salary-j.print.total' | trans( {},'SalaryJ' ) }}</th>
        			</tr>
        		</thead>
        		
        		<tbody>
            		{% for w in work.listOperations %}
            			<tr class="bottomborder {cycle values=",TableSubHead"}">
            				<td>
            					{{ w.modelNumber }}.&nbsp;&nbsp;{{ w.modelName }}
            				</td>
            				<td>
            					{{ w.operationNumber }}.&nbsp;&nbsp;{{ w.operationName }}
            				</td>
            				<td >
            					{{ w.max_price }}
            				</td>
            				<td width="5%">
            					{{ w.sum_count }}
            				</td>
            				<td width="5%">
            					{{ w.sum_total }}
            				</td>
            			</tr>
            		{% endfor %}
    				
        			<tr>
        				<td colspan="4">&nbsp;</td>
        			</tr>
        			<tr>
        				<td colspan="2">&nbsp;</td>
        				<td align="left"><b>{{ 'salary-j.print.total' | trans( {},'SalaryJ' ) }}:</b></td>
        				<td align="right">{{ work.grandTotal }}</td>
        			</tr>
        		</tbody>
    		
    		</table>
		</div>
	</div>
	<!-- END Operator Work Print -->
{% endblock %}
