{% extends "salary-j/base.html.twig" %}

{% block content %}
    <h1 align="center">{{ 'salary-j.pages.operators_groups' | trans( {},'SalaryJ' ) }}</h1>

	<!--
	The category tree can be used to divide the store into several sections so the products of the same brand, type, etc could be put together. Each category can be split into smaller subcategories. Click on a category to get a list of its subcategories. <br />
	-->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'action': path('salaryj_operatorsgroups_create'), 'method': 'POST' }) }}
        {{ form_widget( form._token ) }}
        {{ form_widget( form.application_code, {'value' : application.code} ) }}
    
    	<table cellspacing="0" cellpadding="2">
    		<tr class="hidden" >
    			<td colspan="2">
    				{{ form_widget( form.currentLocale ) }}
    				{{ form_widget( form.parent ) }}
    			</td>
    		</tr>
    		<tr>
    			<td colspan="2"><h3><b>{{ 'salary-j.pages.add_new_group' | trans( {},'SalaryJ' ) }}</h3></b></td>
    		</tr>
    		<tr>
    			<td>{{ form_label(form.name ) }}</td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
				<td>{{ form_widget(form.name, {'attr': {'size': '40'}} ) }}</td>
				<td>{{ form_widget(form.btnSave ) }}</td>
			</tr>
		</table>
    {{ form_end(form, {'render_rest': false}) }}
	<br /><br /><br />

	<table cellspacing="0" width="100%">
		<tr>
			<td class="DialogTitle">{{ 'salary-j.pages.operators_groups' | trans( {},'SalaryJ' ) }}</td>
		</tr>
		<tr>
			<td class="DialogBorder">
				<table cellspacing="1" class="DialogBox">
					<tr>
						<td class="DialogBox" valign="top"><br />
							<form action="{$smarty.server.PHP_SELF}" method="post" name="processcategoryform">

								<table cellpadding="2" cellspacing="1" width="100%">
									<tr class="TableHead">
										<td align="left">{{ 'salary-j.form.name' | trans( {},'SalaryJ' ) }}</td>
										<td width="40%">&nbsp;</td>
									</tr>
								
								{% for gr in taxonomy.rootTaxon.children %}
									<tr {cycle values=",class='TableSubHead'"}>
										<td><font class="ItemsList">{{ gr.name }}</font></td>
										<td>&nbsp;</td>
									</tr>
								{% endfor %}


								</table>
								<input type="hidden" name="mode" value="apply" />
							</form>
							<br />&nbsp;
						</td>
					</tr>
					<tr>
						<td>{# $pager #}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
