
<table cellspacing="1" class="DialogBox">
	<tr>
		<td class="DialogBox" valign="top"><br />
			<form name="formOperatorWorks" action="{$smarty.server.PHP_SELF}?opid={$operator->id()}&act=preview" method="post">
				<table cellpadding="2" cellspacing="1" width="100%">
					<tr class="TableHead">
						<td width="15%"><a href="{$smarty.server.PHP_SELF}?{$getQuery}&order_by=model_id">{{ 'salary-j.pages.model' | trans( {},'SalaryJ' ) }}</a></td>
						<td><a href="{$smarty.server.PHP_SELF}?{$getQuery}&order_by=operation_id">{{ 'salary-j.pages.operation' | trans( {},'SalaryJ' ) }}</a></td>
						<td width="5%"><a href="{$smarty.server.PHP_SELF}?{$getQuery}&order_by=price">{{ 'salary-j.pages.unit_price' | trans( {},'SalaryJ' ) }}</a></td>
						<td width="5%"><a href="{$smarty.server.PHP_SELF}?{$getQuery}&order_by=count">{{ 'salary-j.pages.pieces' | trans( {},'SalaryJ' ) }}</a></td>
						<td width="5%"><a href="{$smarty.server.PHP_SELF}?{$getQuery}&order_by=total">{{ 'salary-j.pages.total' | trans( {},'SalaryJ' ) }}</a></td>
					</tr>

				{% for w in work.listOperations %}
					<tr class="bottomborder {cycle values=",TableSubHead"}">
						<td width="15%">
							{{ w.modelNumber }}.&nbsp;&nbsp;{{ w.modelName }}
						</td>
						<td>
							{{ w.operationId }}.&nbsp;&nbsp;{{ w.operationName }}
						</td>
						<td width="5%">
							{{ w.max_price }}
						</td>
						<td width="5%">
							{{ w.sum_count }}
						</td>
						<td width="5%">
							<div id="total_view_{$op.unique_id}">{{ w.sum_total }}</div>
						</td>
					</tr>
				{% endfor %}
					<tr>
						<td colspan="4">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
						<td align="left"><b>{{ 'salary-j.pages.total' | trans( {},'SalaryJ' ) }}:</b></td>
						<td align="right">{{ work.grandTotal }}</td>
					</tr>
				
					<tr>
						<td colspan="7">
							<input type="button" name="open_print"
							    value="{{ 'salary-j.pages.print' | trans( {},'SalaryJ' ) }}"
								id="btnPrint"
								data-url="{{ path( 'app_operators_work_print_operations_grouped', {'operatorId': operator.id, 'startDate': dateRange['startDate'] | date( 'Y-m-d' ), 'endDate': dateRange['endDate'] | date( 'Y-m-d' )}) }}"
							/>
						</td>
					</tr>
				
				</table>
			</form>
			<br />&nbsp;
		</td>
	</tr>
	<tr>
		<td>{# $pager #}</td>
	</tr>
</table>
