{% extends "salary-j/base.html.twig" %}

{% block content %}
    <h1 align="center">{{ 'salary-j.pages.operators' | trans( {},'SalaryJ' ) }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'action': path('salaryj_operators_create'), 'method': 'POST' }) }}
        {{ form_widget( form._token ) }}
        {{ form_widget( form.application_code, {'value' : application.code} ) }}
    
    	<table cellspacing="0" cellpadding="2">
    		<tr>
    			<td colspan="3"><h3><b>{{ 'salary-j.pages.add_new_operator' | trans( {},'SalaryJ' ) }}</h3></b></td>
    		</tr>
    		<tr>
    			<td>{{ form_label( form.operator.group ) }}</td>
    			<td>{{ form_label( form.operator.name ) }}</td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<td>{{ form_widget( form.operator.group ) }}</td>
				<td>{{ form_widget( form.operator.name, {'attr': {'size': '60'}} ) }}</td>
				<td>{{ form_widget( form.btnSave ) }}</td>
			</tr>
		</table>
    {{ form_end(form, {'render_rest': false}) }}
    <br /><br /><br />
    
    <table cellspacing="0" width="100%">
    	<tr>
    		<td class="DialogTitle">{{ 'salary-j.pages.operators' | trans( {},'SalaryJ' ) }}</td>
    	</tr>
    	<tr>
    		<td class="DialogBorder">
    
    			<table cellspacing="1" class="DialogBox">
    				<tr>
    					<td class="DialogBox" valign="top">
    					
    						{{ 'salary-j.pages.filter_by_gtoup' | trans( {},'SalaryJ' ) }}:&nbsp;&nbsp;&nbsp;
    						{{ form_widget( filter_form.filter_groups, {'value' : filter_value} ) }}
    						&nbsp;&nbsp;&nbsp;
    						<input type="button" value="Заработка Общо" onclick="document.location = 'operators_work.php?group='+document.getElementById('filter_groups').value;" />
    						<br /><br />
    						
    						<div style="line-height: 170%;">
    							<a href="javascript:void(0);" id="checkAll">{{ 'salary-j.pages.all' | trans( {},'SalaryJ' ) }}</a> / 
    							<a href="javascript:void(0);" id="uncheckAll">{{ 'salary-j.pages.nothing' | trans( {},'SalaryJ' ) }}</a>
    						</div>
    
    						<form action="{$smarty.server.PHP_SELF}" method="post" name="operatorsform" id="operatorsform">
    
    							<table cellpadding="2" cellspacing="1" width="100%">
    								<tr class="TableHead">
    									<td width="3%">&nbsp;</td>
    									<td width="7%">{{ 'salary-j.form.group' | trans( {},'SalaryJ' ) }}</td>
    									<td >{{ 'salary-j.form.name' | trans( {},'SalaryJ' ) }}</td>
    									<td width="40%">&nbsp;</td>
    								</tr>
    
    							{% for op in operators %}
    								<tr {cycle values=",class='TableSubHead'"}>
    									<td>
    										<input type="checkbox" name="op_ids[{{ op.id }}]" id="chk_{{ op.id }}" />
    									</td>
    									<td>
    										{{ form_widget( index_forms[loop.index0].group ) }}
    									</td>
    									<td>
    										<font class="ItemsList">
    											{{ form_widget( index_forms[loop.index0].name ) }}
    										</font>
    									</td>
    									<td>
    										<input type="button" value="{{ 'salary-j.pages.browse_operations' | trans( {},'SalaryJ' ) }}" class="browseOperations"
    											data-url="{{ path( 'app_operators_work_browse_operations', {'operatorId': op.id} ) }}"
    										 />
    										<input type="button" value="{{ 'salary-j.pages.add_operations' | trans( {},'SalaryJ' ) }}" class="addOperations"
    											data-url="{{ path( 'app_operators_work_add_operations', {'operatorId': op.id} ) }}"
    										/>
    									</td>
    								</tr>
    							{% endfor %}
    
    								<tr>
    									<td colspan="6" class="SubmitBox">
    										<input type="submit" name="sub_operators" value="{{ 'salary-j.form.operators.edit_groups' | trans( {},'SalaryJ' ) }}"  />
    										<input type="submit" name="change_names" value="{{ 'salary-j.form.operators.edit_names' | trans( {},'SalaryJ' ) }}" />
    										<input type="submit" name="del_operators" value="{{ 'salary-j.form.operators.remove' | trans( {},'SalaryJ' ) }}" 
    											onClick="return confirm('Наистина ли искате да изтриете маркираните Оператори');" 
    										/>
    										<br /><br />
    									</td>
    								</tr>
    
    							</table>
    							<input type="hidden" name="mode" value="apply" />
    						</form>
    						<br />&nbsp;
    					</td>
    				</tr>
    				<tr>
    					<td>{# $pager #}</td>
    				</tr>
    			</table>
    		</td>
    	</tr>
    </table>
{% endblock %}

{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operators' ) }}
{% endblock %}
