{% extends "base.html.twig" %}

{% block content %}
    {% if ( group ) %}
        {% set groupName = group.name %}
    {% else %}
        {% set groupName = 'salary-j.form.common_group' | trans( {},'SalaryJ' ) %}
    {% endif %}
    <h1 align="center">{{ 'salary-j.pages.worked_operations_by_group' | trans( {},'SalaryJ' ) }}: <span id="grpName">{{ groupName }}</span></h1>
    
    <div class="date-range-picker-container mb-4">
        <div class="date-range-picker-subcontainer row">
        	<div class="col-4"></div>
    		{#
            <span class="date-range-picker-label">{{ 'salary-j.pages.period_for' | trans( {},'SalaryJ' ) }}: </span>
            #}
            <div id="operators_work_period"
                class="col-3 date-range-picker-widget lang_{{ app.request.locale|slice(0, 2) }}"
                data-workStartDate="{{ dateRange['startDate'] | date( 'Y-m-d' ) }}"
                data-workEndDate="{{ dateRange['endDate'] | date( 'Y-m-d' ) }}"
                data-url="{{ path( 'app_operators_work_browse_totals', {'groupId': groupId} ) }}"
            >
                <i class="fa fa-calendar"></i>
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
            <div class="col-5"></div>
        </div>
    </div>

	<div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            {{ 'salary-j.pages.operators' | trans( {},'SalaryJ' ) }}
        </div>
        <div class="card-body">
            {{ form_start(filter_form, { 'method': 'POST', 'attr': {'class': 'mb-4'} }) }}
                {{ 'salary-j.pages.filter_by_gtoup' | trans( {},'SalaryJ' ) }}:
                {{ form_widget( filter_form.filter_groups, { value : groupId, attr: { 'data-currentGroupId': groupId } } ) }}
            {{ form_end(filter_form, {'render_rest': false}) }}
            
            <div  id="OperatorsContainer">
                {% include 'pages/OperatorsWork/Partial/operators_totals.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/pages/operators_work_browse_totals', null, 'SalaryjSbadminThemeConfig' ) }}
{% endblock %}

{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operators_work_browse_totals', null, 'SalaryjSbadminThemeConfig' ) }}
{% endblock %}
