{% extends "base.html.twig" %}

{% block content %}
    <h1 align="center">{{ 'salary-j.form.users.edit_user' | trans( {},'SalaryJ' ) }}</h1>
    <br /><br /><br />
    
    <table cellspacing="0" width="100%">
        <tr>
            <td class="DialogTitle">{{ 'salary-j.form.users.details' | trans( {},'SalaryJ' ) }}</td>
        </tr>
        <tr>
            <td class="DialogBorder">
                <table cellspacing="1" class="DialogBox">
                    <tr>
                        <td class="DialogBox" valign="top">
                            {{ form_start(form, { 'action': path('salaryj_operators_create'), 'method': 'POST' }) }}
                                <table cellspacing="1" cellpadding="2" width="100%">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" class="RegSectionTitle">{{ 'salary-j.form.users.personal_information' | trans( {},'SalaryJ' ) }}
                                                <hr size="1" noshade="noshade" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.title ) }}</td>
                                            <td class="Star">{% if form.title.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.title ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.firstName ) }}</td>
                                            <td class="Star">{% if form.firstName.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.firstName, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.lastName ) }}</td>
                                            <td class="Star">{% if form.lastName.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.lastName, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td height="20" colspan="3"><font class="RegSectionTitle">{{ 'salary-j.form.users.contact_information' | trans( {},'SalaryJ' ) }}</font>
                                                <hr size="1" noshade="noshade" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.mobile ) }}</td>
                                            <td class="Star">{% if form.mobile.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.mobile, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.email ) }}</td>
                                            <td class="Star">{% if form.email.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.email, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="RegSectionTitle">{{ 'salary-j.form.users.username_and_password' | trans( {},'SalaryJ' ) }}
                                                <hr size="1" noshade="noshade" />
                                            </td>
                                        </tr>
                                        <tr valign="middle">
                                            <td align="right">{{ 'vs_users.form.user.enabled' | trans( {},'VSUsersBundle' ) }}</td>
                                            <td>&nbsp;</td>
                                            <td nowrap="nowrap">
                                                <input type="checkbox" id="user_form_enabled"
                                                    class="custom-control-input form-check-input"
                                                    name="user_form[enabled]"
                                                    value="{{ user.enabled }}"
                                                    {% if user.enabled %}checked="checked"{% endif %}
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.username ) }}</td>
                                            <td class="Star">{% if form.username.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.username, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.plain_password.first ) }}</td>
                                            <td class="Star">{% if form.plain_password.first.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.plain_password.first, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.plain_password.second ) }}</td>
                                            <td class="Star">{% if form.plain_password.second.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.plain_password.second, {'attr': {'size': '32'}} ) }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right">{{ form_label( form.roles_options ) }}</td>
                                            <td class="Star">{% if form.roles_options.vars.required %}*{% endif %}</td>
                                            <td nowrap="nowrap">{{ form_widget( form.roles_options ) }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="RegSectionTitle"><hr size="1" noshade="noshade" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <input type="submit" name="submit" value="{{ 'salary-j.form.save' | trans( {},'SalaryJ' ) }}" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {{ form_end(form, {'render_rest': false}) }}
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
