{% extends "base.html.twig" %}

{% block content %}
	<h1 align="center">{{ 'salary-j.pages.worked_by_model' | trans( {},'SalaryJ' ) }}</h1>
	<h2 align="center">{{ model.number }} - {{ model.name }}</h2>
	<div class="date-range-picker-container">
		<div class="date-range-picker-subcontainer singleDatePickerSubcontainer">
    		<span class="date-range-picker-label">{{ 'salary-j.pages.date' | trans( {},'SalaryJ' ) }}: </span>
    		<div id="work_date"
    			class="date-range-picker-widget singleDatePicker lang_{{ app.request.locale|slice(0, 2) }}"
    			data-workDate="{{ date | date( 'Y-m-d' ) }}"
    			data-pageUrl="{{ path( 'app_model_add_operations_new', {'modelId': model.id} ) }}"
    		>
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
	</div>

	<form name="formModel" action="{$smarty.server.PHP_SELF}" method="post">
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td colspan="3"><h3><b>{{ 'salary-j.form.add_new_operator' | trans( {},'SalaryJ' ) }}</h3></b></td>
			</tr>
			<tr>
				<td>{{ 'salary-j.pages.operators' | trans( {},'SalaryJ' ) }}</td>
				
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<select id="selOperator" name="selOperator" >
						<option value="0">{{ 'salary-j.form.select' | trans( {},'SalaryJ' ) }}</option>
					{% for op in operators %}
						<option id="selOp{{ op.id }}" value="{{ op.id }}">{{ op.name }}</option>
					{% endfor %}
					</select>
				</td>
				<td><input id="btnAddOperator" type="button" name="sub_model" value="{{ 'salary-j.form.add' | trans( {},'SalaryJ' ) }}" /></td>
			</tr>
		</table>
	</form>
	<br /><br /><br />

	<table cellspacing="0" width="100%">
		<tr>
			<td class="DialogBorder">
				<div style="margin: 10px 0 10px 20px;">{{ 'salary-j.pages.worked' | trans( {},'SalaryJ' ) }}</div>

				<table cellspacing="1" class="DialogBox">
					<tr>
						<td class="DialogBox" valign="top"><br />
						{% if ( model.operations is empty ) %}
							{{ 'message_no_operations_for_model' | trans( {},'SalaryJ' ) }}
						{% else %}
							<form id="formWorkCount" name="formWorkCount" action="{{ path( 'app_operators_work_submit' ) }}" method="post">
								<input type="hidden" name="modelId" value="{{ model.id }}" />
								<input type="hidden" name="workDate" value="{{ date | date( 'Y-m-d' ) }}" />
								
								<div id="boxTblWorkCount">
								<table style="clear: both; margin: 0 auto; width: 100%;" id="tblWorkCount" cellpadding="2" cellspacing="0" width="100%" border="1">
									<thead>
										<tr>
											<th class="headcol">&nbsp;</th>
										
									{% for operation in model.operations %}
											<th><a href="javascript:void(0);" title="{{ operation.operationName }}">{{ loop.index }}</a></th>
									{% endfor %}
										</tr>
									</thead>

									<tbody>
									{% for operator in operators %}
										{% set showRow = 0 %}
										<tr id="rowOp{{ operator.id }}">
											<td class="headcol">{{ operator.name }}</td>
										{% for operation in model.operations %}
											{% set operationId = operation.id %}
											{% if workCount is not empty and workCount[operator.id] is defined and workCount[operator.id][operation.id] is defined %}
											    {% set work = workCount[operator.id][operation.id] %}
											{% else %}
												{% set work = null %}
											{% endif %}
											{% set price = operation.minutes * ( 1 + ( settings['minuteBonus']['value'] / 100 ) ) * settings['minuteRate']['value'] %}
											
											{% if work %}
												{% set showRow = 1 %}
											{% endif %}
											<td>
												<input {% if not price %}disabled="disabled"{% endif %} type="text" size="5" 
													name="workCount[{{ operator.id }}][{{ operation.id }}][workCount]" 
													value="{% if work %}{{ work['workCount'] }}{% else %}0{% endif %}"
													class="textWorkCount" 
													data-currentValue="{% if work %}{{ work['workCount'] }}{% endif %}" 
													data-operationId="{{ operation.id }}" 
												/>
												<input type="hidden"
													name="workCount[{{ operator.id }}][{{ operation.id }}][workId]" 
													value="{% if work %}{{ work['workId'] }}{% endif %}"
												/>
												<input type="hidden"
													name="workCount[{{ operator.id }}][{{ operation.id }}][workCountOld]"
													value="{% if work %}{{ work['workCount'] }}{% else %}0{% endif %}"
												/>
												<input type="hidden"
													name="workCount[{{ operator.id }}][{{ operation.id }}][price]"
													value="{{ price }}"
												/>
											</td>
										{% endfor %}
											
										</tr>

										{%  if showRow %}
											<script type="text/javascript">$("#selOp{{ operator.id }}").hide()</script>
										{% else %}
											<script type="text/javascript">$("#rowOp{{ operator.id }}").hide()</script>
										{% endif %}
									{% endfor %}
									</tbody>

									<tfoot>
										<tr>
											<td class="headcol">Общо</td>
										{% for operation in model.operations %}
											<td id="total{{ operation.id }}">&nbsp;
											{% if operatorsWork['operationsTotalCount'] is not empty and operatorsWork['operationsTotalCount'][operation.id] is defined %}
											    {{ operatorsWork['operationsTotalCount'][operation.id] }}
											{% else %}
												0
											{% endif %}
											</td>
										{% endfor %}
										</tr>
									</tfoot>
								
								</table>
								</div>
								<input type="submit" name="saveForm" value="{{ 'salary-j.form.save' | trans( {},'SalaryJ' ) }}" />
							</form>
						{% endif %}
							<br />&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags( 'js/pages/operators_work_new', null, 'xcartThemeConfig' ) }}
{% endblock %}
        
{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operators_work_new', null, 'xcartThemeConfig' ) }}
{% endblock %}
