    
<table cellpadding="2" cellspacing="1" width="70%" class="table">
	<thead class="table-dark">
        <tr class="TableHead">
            <th width="5%">{{ 'salary-j.pages.number' | trans( {},'SalaryJ' ) }}</th>
            <th >{{ 'salary-j.pages.name' | trans( {},'SalaryJ' ) }}</th>
            <th width="5%">{{ 'salary-j.pages.price' | trans( {},'SalaryJ' ) }}</th>
            <th width="5%">{{ 'salary-j.pages.pieces' | trans( {},'SalaryJ' ) }}</th>
            <th width="5%">{{ 'salary-j.pages.total_price' | trans( {},'SalaryJ' ) }}</th>
        </tr>
    </thead>
    
    <tbody>
        {% for op in model.operations %}
            <tr {cycle values=",class='TableSubHead'"}>
                <td >{{ op.operationId }}</td>
                <td><font class="ItemsList">{{ op.operationName }}</font></td>
                <td>{% if workCount[op.id] is defined %}{{ workCount[op.id].max_price }}{% endif %}</td>
                <td >{% if workCount[op.id] is defined %}{{ workCount[op.id].sum_count }}{% endif %}</td>
                <td >{% if workCount[op.id] is defined %}{{ workCount[op.id].sum_total | number_format( 2, '.' ) }}{% endif %}</td>
            </tr>
        {% endfor %}
    
        <tr><td colspan="6"><hr /></td></tr>
        <tr>
            <td colspan="3">&nbsp;</td>
            <td align="right">{{ 'salary-j.pages.total_price' | trans( {},'SalaryJ' ) }}:</td>
            <td>{{ operatorsWork.grandTotal }}</td>
        </tr>
    </tbody>
    
    <tfoot>
        <tr>
            <td colspan="6" class="SubmitBox">
                <input type="button" name="print_work"
                	class="btn btn-secondary mt-3 mb-3"
                    id="btnPrint"
                    value="{{ 'salary-j.pages.print' | trans( {},'SalaryJ' ) }}"
                    data-url="{{ path( 'app_model_print_work_count', {'modelId': model.id, 'startDate': dateRange['startDate'] | date( 'Y-m-d' ), 'endDate': dateRange['endDate'] | date( 'Y-m-d' )}) }}"
                />
            </td>
        </tr>
    </tfoot>
</table>
