{% extends "base.html.twig" %}

{% block content %}
    <h1 align="center">{{ 'salary-j.pages.operators_groups' | trans( {},'SalaryJ' ) }}</h1>

	<!--
	The category tree can be used to divide the store into several sections so the products of the same brand, type, etc could be put together. Each category can be split into smaller subcategories. Click on a category to get a list of its subcategories. <br />
	-->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'action': path('salaryj_operatorsgroups_create'), 'method': 'POST' }) }}
        {{ form_widget( form.application_code, {'value' : application.code} ) }}
    
    	<table cellspacing="0" cellpadding="2">
    		<tr class="hidden" >
    			<td colspan="2">
    				{{ form_widget( form.currentLocale ) }}
    				{{ form_widget( form.parent ) }}
    			</td>
    		</tr>
    		<tr>
    			<td colspan="2"><h3><b>{{ 'salary-j.pages.add_new_group' | trans( {},'SalaryJ' ) }}</h3></b></td>
    		</tr>
    		<tr>
    			<td>{{ form_label(form.operator_group.name ) }}</td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
				<td>{{ form_widget(form.operator_group.name, {'attr': {'size': '40'}} ) }}</td>
				<td>{{ form_widget(form.btnSave ) }}</td>
			</tr>
		</table>
    {{ form_end(form, {'render_rest': false}) }}
	<br /><br /><br />

	<table cellspacing="0" width="100%">
		<tr>
			<td class="DialogTitle">{{ 'salary-j.pages.operators_groups' | trans( {},'SalaryJ' ) }}</td>
		</tr>
		<tr>
			<td class="DialogBorder">
				<table cellspacing="1" class="DialogBox">
					<tr>
						<td class="DialogBox" valign="top"><br />
							{{ form_start( index_form, { attr: { id: 'operators_groups_index_form'} } ) }}
                                
                                <div style="line-height: 170%;">
                                    <a id="checkAll" href="javascript:void(0);">{{ 'salary-j.pages.all' | trans( {},'SalaryJ' ) }}</a> / 
                                    <a id="uncheckAll" href="javascript:void(0);">{{ 'salary-j.pages.nothing' | trans( {},'SalaryJ' ) }}</a>
                                </div>

								<table cellpadding="2" cellspacing="1" width="100%">
									<tr class="TableHead">
									    <td width="2%"></td>
										<td align="left">{{ 'salary-j.form.name' | trans( {},'SalaryJ' ) }}</td>
									</tr>
								
								{% for grId, grWidget in index_form.operators_groups %}
								    <tr {{ cycle(['', 'class="TableSubHead"'], loop.index0) }}>
								        <td><input type="checkbox" name="grids[{{ grId }}]" /></td>
										<td>
    								        <font class="ItemsList">
                                                {{ form_widget( grWidget.name, {'attr': {'size': '60'}} ) }}
    								        </font>
										</td>
									</tr>
								{% endfor %}

                                    <tr>
                                        <td colspan="7"><hr /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            {{ form_widget( index_form.change_names ) }}
                                            {{ form_widget( index_form.del_groups ) }}
                                        </td>
                                    </tr>
								</table>
								
							{{ form_end( index_form ) }}
							<br />&nbsp;
						</td>
					</tr>
					<tr>
						<td>
						  {% if resources.haveToPaginate() %} {{ pagerfanta( resources, null, { 'proximity': 10 } ) }}{% endif %}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/pages/operators_groups', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}

{% block body_javascripts %}
    {{ encore_entry_script_tags( 'js/pages/operators_groups', null, 'SalaryjXcartThemeConfig' ) }}
{% endblock %}
