{% extends "base-print.html.twig" %}

{% block content %}
    <!-- BEGIN Operators Work Summary Print -->
    <div class="print">
        <h1 align="center">{{ 'salary-j.pages.worked_operations_by_group' | trans( {},'SalaryJ' ) }}: <span id="grpName">{{ groupName }}</span></h1>
        <p align="center">
            {{ 'salary-j.pages.period_for' | trans( {},'SalaryJ' ) }}: 
            {{ startDate | date( 'd.m.Y' ) }}   {{ 'salary-j.pages.to' | trans( {},'SalaryJ' ) }} {{ endDate | date( 'd.m.Y' ) }}
        </p>
    
        <table cellpadding="2" cellspacing="1" width="100%">
            <tr class="TableHead">
                <td >{{ 'salary-j.pages.name' | trans( {},'SalaryJ' ) }}</td>
                <td width="10%">{{ 'salary-j.pages.worked' | trans( {},'SalaryJ' ) }}</td>
                <td width="40%">&nbsp;</td>
            </tr>

        {% for w in work.work %}
            <tr class="bottomborder {cycle values=",TableSubHead"}">
                <td align="left"><font class="ItemsList">{{ w.operatorName }}</font></td>
                <td>{{ w.subTotal }}</td>
                <td></td>
            </tr>
        {% endfor %}

            <tr>
                <td colspan="3"><hr /></td>
            </tr>
            <tr>
                <td align="right"><b>{{ 'salary-j.pages.total' | trans( {},'SalaryJ' ) }}:</b></td>
                <td align="left">{{ work.grandTotal }}</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br /><br />
    </div>
    <!-- END Operators Work Summary Print -->
{% endblock %}
